#cart{
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    padding: 2rem 1.75rem;
    min-width: 90%;
    max-height: 80%;
    overflow: scroll;
}

#cart .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

#cart .heading .label{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.080375rem;
}

#cart .heading button{
    font-size: 0.9375rem;
    line-height: 1.5625rem; /* 166.667% */
    text-decoration-line: underline;
    border: none;
    background: transparent;
    opacity: 0.5;
}

#cart .products{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

#cart .products .product{
    display: flex;
    align-items: center;
}

#cart .products .product img{
    width: 64px;
    border-radius: 8px;
    margin-right: 1rem;
}

#cart .products .product .name{
    font-size: 0.9375rem;
    line-height: 1.5625rem; /* 166.667% */
    margin: auto auto auto 0;
    letter-spacing: normal;
}

#cart .products .product span{
    display: block;
    font-size: 0.875rem;
    line-height: 1.5625rem; /* 178.571% */
    opacity: 0.5;
}

#cart .products .product .numbers-default{
    width: 96px;
    height: 32px;
}

#cart .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

#cart .total .label{
    font-size: 0.9375rem;
    line-height: 1.5625rem; /* 166.667% */
    opacity: 0.5;
}

#cart .total .price{
    font-size: 1.125rem;
    font-weight: 700;
}

#cart .button-1{
    width: 100%;
}
