*{
    box-sizing: border-box;
}

:root{
    --orange: #D87D4A;
    --off-black: #101010;
    --gray: #F1F1F1;
    --off-gray: #CFCFCF;
    --off-white: #FAFAFA;
    --active-orange: #FBAF85;
    --white: #FFFFFF;
    --black: #000000;
    --red: #CD2C2C;
}

html,
body{
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    font-family: "Manrope", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

.overline{
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.625rem;
    text-transform: uppercase;
}

button{
    font-family: "Manrope", sans-serif;
    cursor: pointer;
}

.button-1{
    width: 160px;
    height: 48px;
    background: var(--orange);
    color: var(--white);
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    border: none;
}

.button-1:hover{
    background: #FBAF85;
}

.button-2{
    width: 160px;
    height: 48px;
    border: 1px solid var(--black);
    background: transparent;
    color: var(--black);
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
}

.button-2:hover{
    background: var(--black);
    color: var(--white);
}

.button-3{
    background: transparent;
    color: var(--black);
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    border: none;
    opacity: 0.5;
}

.button-3:hover{
    color: var(--orange);
    opacity: 1;
}

.numbers-default{
    color: var(--black);
    width: 120px;
    height: 48px;
    flex-shrink: 0;
    background: var(--gray);
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numbers-default button{
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    opacity: 0.25;
    border: none;
}

.numbers-default button:hover{
    color: var(--orange);
    opacity: 1;
}

.numbers-default .quantity{
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

.tablet-img{
    display: none;
}

.desktop-img{
    display: none;
}

.issue{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
}

.product .mobile-img{
    width: 327px;
    border-radius: 8px;
}

.product .overline,
.product .name,
.product .desc{
    margin-bottom: 1.5rem;
}


.product .overline{
    color: var(--orange);
}

.product .name{
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}

.product .desc{
    font-size: 0.9375rem;
    line-height: 1.5625rem; 
    opacity: 0.5;
}

@media (min-width: 768px){
    .mobile-img{
        display: none;
    }

    .tablet-img{
        display: block;
    }

    .product .tablet-img{
        width: 689px;
    }

    .product .overline{
        margin-bottom: 1rem;
    }

    .product .name{
        font-size: 2.5rem;
        line-height: 2.75rem; /* 110% */
        letter-spacing: 0.0893125rem;
        margin-bottom: 2rem;
    }
}
