#products{
    text-align: center;
    padding: 2rem 1.5rem 0;
}

#products .category{
    padding: 2rem 1.5rem;
    margin: calc(-2rem) calc(-1.5rem);
    background: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#products h1{
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

#products .products{
    padding: 6rem 0 0;
    margin-bottom: 10.75rem;
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}

#products .mobile-img{
    margin-bottom: 2rem;
}
