#product{
    padding: 1rem 1.5rem 0;
}

#product .go-back{
    opacity: 0.5;
}

#product .product{
    margin-top: 1.5rem;
}

#product .mobile-img:nth-of-type(1){
    margin-bottom: 2rem;
}

#product .price{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.080375rem;
    margin-bottom: 2rem;
}

#product .product .numbers-container{
    display: flex;
    gap: 1rem;
    margin-bottom: 5.5rem;
}

#product h2,
#product h3{
    font-size: 1.5rem;
    line-height: 2.25rem; /* 150% */
    letter-spacing: 0.0535625rem;
    margin-bottom: 1.5rem;
}

#product .features{
    font-size: 0.9375rem;
    line-height: 1.5625rem; /* 166.667% */
    opacity: 0.5;
    margin-bottom: 5.5rem;
}

#product .includes{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

#product .includes:nth-last-of-type(4){
    margin-bottom: 5.5rem;
}

#product .includes .quantity,
#product .includes .item{
    font-size: 0.9375rem;
    line-height: 25px; /* 166.667% */
}

#product .includes .quantity{
    width: 16px;
    color: var(--orange);
    font-weight: 700;
}

#product .includes .item{
    font-weight: 400;
    opacity: 0.5;
}

#product .mobile-img{
    margin-bottom: 1rem;
}

#product h4,
#product .others .name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

#product h4{
    line-height: 2.25rem; /* 150% */
    letter-spacing: 0.0535625rem;
    margin: 6.5rem 0 2.5rem;
}

#product .others{
    text-align: center;
    margin-bottom: 3.5rem;
}

#product .others .mobile-img{
    margin-bottom: 2rem;
}

#product .others .name{
    letter-spacing: 0.107125rem;
    margin-bottom: 2rem;
}

#product .others:last-child{
    margin-bottom: 10.75rem;
}
