.best-gear-container{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin: 7.5rem 0;
}

.best-gear-img{
    width: 327px;
    border-radius: 8px;
}

.best-gear-title{
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.gold{
    color: #D87D4A;
}

.best-gear-info{
    font-size: 0.9375rem;
    line-height: 25px; /* 166.667% */
    opacity: 0.5;
}