#best-gear{
    text-align: center;
    margin: 7.5rem 0;
    color: var(--black);
}

#best-gear .mobile-img{
    width: 327px;
    border-radius: 8px;
    margin-bottom: 2.5rem;
}

#best-gear .title{
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    margin-bottom: 2rem;
}

#best-gear span{
    color: var(--orange);
}

#best-gear .desc{
    font-size: 0.9375rem;
    line-height: 1.5625rem; /* 166.667% */
    opacity: 0.5;
}